body {
    font-family: "FORCED SQUARE",
        "Consolas",
        "Lucida Console",
        "Monaco",
        ui-monospace,
        monospace,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    font-size: 20px;
    margin: 0;

    background-color: black;
}

@media only screen and (min-width: 768px) {
    body {
        background: linear-gradient(to top right, hsl(274, 85%, 43%), hsl(322, 100%, 50%));
        background-repeat: no-repeat;
    }
}


main {
    background-color: #000000;
    box-sizing: border-box;
    color: #ffffff;
    min-height: 100vh;
    padding: 18px;
    position: relative;
    overflow-wrap: break-word;
}

@media only screen and (min-width: 768px) {
    main {
        margin: 0 15%;
    }
}

main a {
    color: hsl(300, 100%, 70%);
}

main h1,
main p {
    margin: 0;
}

main li {
    margin: 4px;
}

main .kot {
    display: inline;
    color: white;
    background: linear-gradient(to top right, hsl(274, 85%, 43%) 0 50%, hsl(322, 100%, 50%) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main .extra {
    color: hsl(0, 0%, 80%);
    font-style: italic;
}

main address {
    font-style: unset;
}

@media only screen and (min-width: 512px) {
    address {
        position: absolute;
        top: 0;
        right: 0;
        margin: 18px;
    }

    footer {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 18px;
    }
}

/* Font by drawperfect.com */
@font-face {
    font-display: swap;
    font-family: "FORCED SQUARE";
    font-style: normal;
    font-weight: 500;
    src: local("FORCED SQUARE"),
        url("/fonts/FORCED SQUARE.woff2") format("woff2"),
        url("/fonts/FORCED SQUARE.woff") format("woff"),
        url("/fonts/FORCED SQUARE.ttf") format("truetype");
}