---
---

<h1 class="kot">Kot</h1>

<style lang="scss">
	$kot-gradient: linear-gradient(
		to top right,
		hsl(274, 92%, 62%) 0 50%,
		hsl(322, 100%, 50%) 100%
	);
	
	h1.kot {
		font-family: "FORCED SQUARE", "Consolas", "Lucida Console", "Monaco",
			ui-monospace, monospace, "Apple Color Emoji", "Segoe UI Emoji",
			"Segoe UI Symbol", "Noto Color Emoji";

		display: inline;
		color: #ffffff;
		background: $kot-gradient;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
